.validation-error {
    background-color: white;
    color: darkred;
}

div.tooltip-inner {
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: darkred !important;
    border-radius: .25rem;
    max-width: 500px !important;
}

::ng-deep .tooltip-inner {
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: darkred !important;    
    border-radius: .25rem;
    max-width: 500px !important;
}

::ng-deep .tooltip {
    max-width: 500px !important;
    border-width: 1px;
    border-color: black;
}

.validation-failure {   
    border: 3px solid darkred;
    color: white;    
}

.validation-success {
    color: black;
    border: 1px solid #ced4da;
}