<div class="panel panel-primary" style="text-align:center">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <ng-template #tipContent>
                    <ul class="tooltip-inner">                        
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('Name')">
                            {{error.Message}}
                        </li>                    
                    </ul>                        
                </ng-template>
                <input 
                        type="text" 
                        id="Name" 
                        class="form-control" 
                        name="Name" 
                        [(ngModel)]="registerUser.Name" 
                        (ngModelChange)="!validateMe('Name') ? t.open() : t.close()"
                        [ngbTooltip]="tipContent" 
                        #t="ngbTooltip" 
                        placeholder="Name" />                  
            </div>
            <div class="form-group"> 
                <ng-template #tipContent1>
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('CreditCardNo')">
                            {{error.Message}}
                        </li>
                    </ul>
                </ng-template>                         
                <input
                        type="text" 
                        id="CreditCardNo" 
                        class="form-control" 
                        name="CreditCardNo"                         
                        [(ngModel)]="registerUser.CreditCardNo" 
                        (ngModelChange)="!validateMe('CreditCardNo') ? t1.open() : t1.close()" 
                        [ngbTooltip]="tipContent1" 
                        #t1="ngbTooltip" 
                        placeholder="Credit Card Number" />                  
            </div>            
            <div class="form-group"> 
                <ng-template #tipContent2>                    
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('Id')">
                            {{error.Message}}
                        </li>
                    </ul>                   
                </ng-template>                     
                <input 
                        type="text" 
                        id="Id" 
                        class="form-control" 
                        name="Id"                         
                        [(ngModel)]="registerUser.Id" 
                        (ngModelChange)="!validateMe('Id') ? t2.open() : t2.close()" 
                        [ngbTooltip]="tipContent2" 
                        #t2="ngbTooltip" 
                        placeholder="Id" />                  
            </div>            
            <div class="form-group">    
                <ng-template #tipContent5>                    
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('Email')">
                            {{error.Message}}
                        </li>
                    </ul>                    
                </ng-template>
                <input 
                        type="text" 
                        id="Email" 
                        class="form-control" 
                        name="Email" 
                        [(ngModel)]="registerUser.Email" 
                        (ngModelChange)="!validateMe('Email') ? t5.open() : t5.close()" 
                        [ngbTooltip]="tipContent5" 
                        #t5="ngbTooltip" 
                        placeholder="Email" />                  
            </div>
            <div class="form-group">      
                <ng-template #tipContent3>                        
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('Password')">
                            {{error.Message}}
                        </li>
                    </ul>                    
                </ng-template>
                <input 
                        type="password" 
                        id="Password" 
                        class="form-control" 
                        name="Password" 
                        [(ngModel)]="registerUser.Password" 
                        (ngModelChange)="!validateMe('Password') ? t3.open() : t3.close()"
                        [ngbTooltip]="tipContent3" 
                        #t3="ngbTooltip" 
                        placeholder="Password" />                  
            </div>
            <div class="form-group">      
                <ng-template #tipContent4>                    
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('ConfirmPassword')">
                            {{error.Message}}
                        </li>
                    </ul>                    
                </ng-template>
                <input 
                        type="password" 
                        id="ConfirmPassword" 
                        class="form-control" 
                        name="ConfirmPassword" 
                        [(ngModel)]="registerUser.ConfirmPassword" 
                        (ngModelChange)="!validateMe('ConfirmPassword') ? t4.open() : t4.close()"
                        [ngbTooltip]="tipContent4" 
                        #t4="ngbTooltip" 
                        placeholder="Confirm Password" />                  
            </div>
            <div class="form-group"> 
                <ng-template #tipContent6>                                        
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('AgeGroup')">
                            {{error.Message}}
                        </li>                            
                    </ul>                     
                </ng-template>                      
                <select id="AgeGroup"
                        name="AgeGroup"
                        class="form-control"
                        [(ngModel)]="registerUser.AgeGroup"                         
                        (change)="!validateMe('AgeGroup') ? t6.open() : t6.close();"
                        [ngbTooltip]="tipContent6" 
                        #t6="ngbTooltip"                        
                        placeholder="Age group"
                    >
                    <option [ngValue]="ageGroup.Val" *ngFor="let ageGroup of ageGroups">{{ageGroup.Text}}</option>                                                            
                </select>                               
            </div>
            <div id="checkBoxField" class="form-group" *ngIf="registerUser.AgeGroup == 2">
                <ng-template #tipContent7>                    
                    <ul class="tooltip-inner">
                        <li *ngFor="let error of validationResult?.IdentifierStartsWith('IsParentalSupervisionProvided')">
                            {{error.Message}}
                        </li>
                    </ul>                    
                </ng-template>                      
                <div style="margin:auto;">
                    <input 
                        type="checkbox" 
                        id="IsParentalSupervisionProvided"
                        name="IsParentalSupervisionProvided"
                        class="form-control"                         
                        [(ngModel)]="registerUser.IsParentalSupervisionProvided" 
                        (ngModelChange)="!validateMe('IsParentalSupervisionProvided') ? t7.open() : t7.close()" 
                        [ngbTooltip]="tipContent7" 
                        #t7="ngbTooltip"                         
                        />
                    <label for="IsParentalSupervisionProvided">Parental Supervision Provided</label>                        
                </div>                            
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 40%; height: 50px;" (click)="register()">Register</button>
            </div>                                             
      </form>
    </div>
  </div>