<div class="panel panel-primary" style="text-align:center">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
        <form>
            <p>Register</p>
            <div class="form-group">                
                <ng-template #tipContent><div class="tooltip-inner" *ngFor="let error of validationResult.IdentifierStartsWith('Name')">{{error.Message}}</div></ng-template>
                <input 
                        type="text" 
                        id="Name" 
                        class="form-control" 
                        name="Name" 
                        [ngClass]="validationResult.IdentifierStartsWith('Name').length > 0 ? 'validation-failure' : 'validation_success'" 
                        [(ngModel)]="registerUser.Name" 
                        (ngModelChange)="!validateMe('Name') ? t.open() : t.close()" 
                        [ngbTooltip]="tipContent" 
                        #t="ngbTooltip" 
                        placeholder="Name" />                  
            </div>
            <div class="form-group">                
                <ng-template #tipContent1><div class="tooltip-inner" *ngFor="let error of validationResult.IdentifierStartsWith('CreditCardNo')">{{error.Message}}</div></ng-template>
                <input 
                        type="text" 
                        id="CreditCardNo" 
                        class="form-control" 
                        name="CreditCardNo" 
                        [ngClass]="validationResult.IdentifierStartsWith('CreditCardNo').length > 0 ? 'validation-failure' : 'validation_success'" 
                        [(ngModel)]="registerUser.CreditCardNo" 
                        (ngModelChange)="!validateMe('CreditCardNo') ? t1.open() : t1.close()" 
                        [ngbTooltip]="tipContent1" 
                        #t1="ngbTooltip" 
                        placeholder="Credit Card Number" />                  
            </div>            
            <div class="form-group">                
                <ng-template #tipContent2><div class="tooltip-inner" *ngFor="let error of validationResult.IdentifierStartsWith('Id')">{{error.Message}}</div></ng-template>
                <input 
                        type="text" 
                        id="Id" 
                        class="form-control" 
                        name="Id" 
                        [ngClass]="validationResult.IdentifierStartsWith('Id').length > 0 ? 'validation-failure' : 'validation_success'" 
                        [(ngModel)]="registerUser.Id" 
                        (ngModelChange)="!validateMe('Id') ? t2.open() : t2.close()" 
                        [ngbTooltip]="tipContent2" 
                        #t2="ngbTooltip" 
                        placeholder="Id" />                  
            </div>            
            <div class="form-group">                
                <ng-template #tipContent5><div class="tooltip-inner" *ngFor="let error of validationResult.IdentifierStartsWith('Email')">{{error.Message}}</div></ng-template>
                <input 
                        type="text" 
                        id="Email" 
                        [ngClass]="validationResult.IdentifierStartsWith('Email').length > 0 ? 'validation-failure' : 'validation_success'" 
                        class="form-control" 
                        name="Email" 
                        [(ngModel)]="registerUser.Email" 
                        (ngModelChange)="!validateMe('Id') ? t5.open() : t5.close()" 
                        [ngbTooltip]="tipContent5" 
                        #t5="ngbTooltip" 
                        placeholder="Email" />                  
            </div>
            <div class="form-group">                
                <ng-template #tipContent3><div class="tooltip-inner" *ngFor="let error of validationResult.IdentifierStartsWith('Password')">{{error.Message}}</div></ng-template>
                <input 
                        type="password" 
                        id="Password" 
                        class="form-control" 
                        name="Password" 
                        [ngClass]="validationResult.IdentifierStartsWith('Password').length > 0 ? 'validation-failure' : 'validation_success'" 
                        [(ngModel)]="registerUser.Password" 
                        (ngModelChange)="!validateMe('Password') ? t3.open() : t3.close()" 
                        [ngbTooltip]="tipContent3" 
                        #t3="ngbTooltip" 
                        placeholder="Password" />                  
            </div>
            <div class="form-group">                
                <ng-template #tipContent4><div class="tooltip-inner" *ngFor="let error of validationResult.IdentifierStartsWith('ConfirmPassword')">{{error.Message}}</div></ng-template>
                <input 
                        type="password" 
                        id="ConfirmPassword" 
                        class="form-control" 
                        name="ConfirmPassword" 
                        [ngClass]="validationResult.IdentifierStartsWith('ConfirmPassword').length > 0 ? 'validation-failure' : 'validation_success'" 
                        [(ngModel)]="registerUser.ConfirmPassword" 
                        (ngModelChange)="!validateMe('ConfirmPassword') ? t4.open() : t4.close()" 
                        [ngbTooltip]="tipContent4" 
                        #t4="ngbTooltip" 
                        placeholder="Confirm Password" />                  
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 40%; height: 50px;" (click)="register()">Register</button>
            </div>                                             
      </form>
    </div>
  </div>