<div style="text-align:center;" class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="width: 100%;">
                    <ul class="nav navbar-nav horizontal">
                            <li class="horizontal"><a routerLink="/home">Home</a></li>
                            <li class="horizontal"><a routerLink="/login">Login</a></li>
                            <li class="horizontal"><a routerLink="/register">Register</a></li>
                            <li class="horizontal"><a routerLink="/details" >Details</a></li>
                    </ul>

                    <h1 style="text-align:center">
                        {{title}}
                    </h1>                    
            </div>            
        </div>
    </nav>    
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>