<div style="text-align:center;" class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="width: 100%;">
                    <ul class="nav navbar-nav horizontal">
                            <li class="horizontal"><a routerLink="/home">Home</a></li>
                            <li class="horizontal"><a routerLink="/login">Login</a></li>
                            <li class="horizontal"><a routerLink="/register">Register</a></li>
                            <li class="horizontal"><a routerLink="/details" >Details</a></li>
                    </ul>
                    
                    <div class="animate six">
                            <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span><span>&nbsp;</span>
                            <span>t</span><span>o</span><br/>
                            <span>t</span><span>s</span>
                            <span>.</span><span>v</span><span>a</span><span>l</span><span>i</span><span>d</span><span>a</span><span>t</span><span>o</span><span>r</span>
                            <span>.</span><span>f</span><span>l</span><span>u</span><span>e</span><span>n</span><span>t</span><span>!</span>                        
                    </div>                    
                    <!-- <h1 style="text-align:center">
                        {{title}}
                    </h1>                     -->
            </div>            
        </div>
    </nav>    
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>